/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_apartment_name = 'icon_apartment';
$icon_apartment_x = 27px;
$icon_apartment_y = 29px;
$icon_apartment_offset_x = -27px;
$icon_apartment_offset_y = -29px;
$icon_apartment_width = 19px;
$icon_apartment_height = 19px;
$icon_apartment_total_width = 74px;
$icon_apartment_total_height = 49px;
$icon_apartment_image = '../images/sprites/lables.png';
$icon_apartment = 27px 29px -27px -29px 19px 19px 74px 49px '../images/sprites/lables.png' 'icon_apartment';
$icon_infrastructure_name = 'icon_infrastructure';
$icon_infrastructure_x = 57px;
$icon_infrastructure_y = 0px;
$icon_infrastructure_offset_x = -57px;
$icon_infrastructure_offset_y = 0px;
$icon_infrastructure_width = 17px;
$icon_infrastructure_height = 21px;
$icon_infrastructure_total_width = 74px;
$icon_infrastructure_total_height = 49px;
$icon_infrastructure_image = '../images/sprites/lables.png';
$icon_infrastructure = 57px 0px -57px 0px 17px 21px 74px 49px '../images/sprites/lables.png' 'icon_infrastructure';
$icon_percentages_name = 'icon_percentages';
$icon_percentages_x = 29px;
$icon_percentages_y = 0px;
$icon_percentages_offset_x = -29px;
$icon_percentages_offset_y = 0px;
$icon_percentages_width = 20px;
$icon_percentages_height = 19px;
$icon_percentages_total_width = 74px;
$icon_percentages_total_height = 49px;
$icon_percentages_image = '../images/sprites/lables.png';
$icon_percentages = 29px 0px -29px 0px 20px 19px 74px 49px '../images/sprites/lables.png' 'icon_percentages';
$icon_plan_name = 'icon_plan';
$icon_plan_x = 0px;
$icon_plan_y = 0px;
$icon_plan_offset_x = 0px;
$icon_plan_offset_y = 0px;
$icon_plan_width = 21px;
$icon_plan_height = 21px;
$icon_plan_total_width = 74px;
$icon_plan_total_height = 49px;
$icon_plan_image = '../images/sprites/lables.png';
$icon_plan = 0px 0px 0px 0px 21px 21px 74px 49px '../images/sprites/lables.png' 'icon_plan';
$icon_video_name = 'icon_video';
$icon_video_x = 0px;
$icon_video_y = 29px;
$icon_video_offset_x = 0px;
$icon_video_offset_y = -29px;
$icon_video_width = 19px;
$icon_video_height = 20px;
$icon_video_total_width = 74px;
$icon_video_total_height = 49px;
$icon_video_image = '../images/sprites/lables.png';
$icon_video = 0px 29px 0px -29px 19px 20px 74px 49px '../images/sprites/lables.png' 'icon_video';
$sp_lables_width = 74px;
$sp_lables_height = 49px;
$sp_lables_image = '../images/sprites/lables.png';
$sp_lables_sprites = $icon_apartment $icon_infrastructure $icon_percentages $icon_plan $icon_video;
$sp_lables = 74px 49px '../images/sprites/lables.png' $sp_lables_sprites;

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

// The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.


/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}


// The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
// It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon_home_group = 'icon-home' $icon_home $icon_home_2x;
//
// .icon-home {
//     retinaSprite($icon_home_group)
// }


spriteBackgroundSize($sprite) {
	background-size $sprite[6] $sprite[7]
}

retinaSprite($retina_group) {
	$normal_sprite = $retina_group[1]
	$retina_sprite = $retina_group[2]
	sprite($normal_sprite)

	@media (-webkit-min-device-pixel-ratio: 2),
				 (min-resolution: 192dpi) {
		spriteImage($retina_sprite)
		spriteBackgroundSize($normal_sprite)
	}
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

// The `retinaSprites` mixin generates a CSS rule and media query for retina groups
// This yields the same output as CSS retina template but can be overridden in Stylus
//
// retinaSprites($retina_groups)

retinaSprites($retina_groups) {
	for $retina_group in $retina_groups {
		$sprite_name = $retina_group[0];
		.{$sprite_name} {
			retinaSprite $retina_group
		}
	}
}
