.navigation
	display block
	&__item
		display block
	&__item
		font-size 14px
		color #070707
		border-bottom 1px solid #ebebeb
		&:hover
			.link__text
				color #93b942
		.link__text
			padding-left 15px
			vertical-align middle
			opacity .57
			
	&__item
		text-decoration none
	&__item
		padding-top 19px
		padding-bottom 19px
