.title
	line-height 1
	color rgb(42, 25, 95)
	&_size
		&_22
			font-size 22px
			text-transform uppercase
			font-weight: 500
			& span b
				font-weight 700
				margin-right 5px
			& span
				text-transform none
		&_14
			font-size 14px


