include ../../../node_modules/bemto.pug/bemto

include ../scripts/scripts

//common
include ../button/button
include ../link/link
include ../icon/icon
include ../title/title
include ../lables/lables
include ../counter/counter
include ../group/group
include ../container/container

//layout
include ../page/page
include ../header/header
include ../headline/headline
include ../headline__title/headline__title
include ../headline__description/headline__description
include ../headline__remark/headline__remark
include ../footer/footer

//blocks
include ../logo/logo
include ../navigation/navigation
include ../top-menu/top-menu
include ../slider/slider
include ../video/video
include ../info-table/info-table
include ../description/description

include ../table-filter/table-filter
include ../table-sort/table-sort

include ../compas/compas

doctype html
html(lang='ru')
	include ../head/head
	+page
		block sharedVars
		+header(headerType)
		+b.main
			block content
		+footer(footerType)
		+scripts(['tablesort.min.js', 'tablesort.number.min.js', 'jquery.min.js', 'jquery.mCustomScrollbar.concat.min.js', 'app.min.js'])
