body
	font f-size--default 'Roboto', Arial, Helvetica, sans-serif

.main
	&__table-filter-and-count
		float left
		width 29%
		padding-right 32px
	&__table-filter-counters
		display flex
		justify-content space-between
		padding-top 21px
		margin-bottom 44px
		.counter
			display block
			width 50%
