.container
	display block
	width 100%
	max-width 1200px
	padding-right 15px
	padding-left 15px
	margin 0 auto
	//padding 0 48px
	clearfix()
	&_iner
		&_true
			padding 0 15px
	&_flex
		&_true
			display flex
