mixin button(params)
	-
		var blockName = 'button', totalClass = blockName;
		attributes.class = 'button_size_m button_theme_red';
	+b.button(class='button_size_m._theme_red._theme_fdsfsdf')
		block= totalClass


