mixin button(params)
	-
		var blockName = 'button', classAll = '';
		classAll += blockName;
		for(var mod in params.mods) {
			classAll += ' ' + blockName+'_'+mod+'_'+params.mods[mod];
		}
		attributes.class = classAll;
	div&attributes(attributes)
		span.button__text= params.content
