.buttons
	display block
	&_size
		&_xs
			font-size: 1px
			line-height: 1px
		&_s
			font-size: 1px
			line-height: 1px
		&_m
			font-size: 1px
			line-height: 1px
		&_l
			font-size: 1px
			line-height: 1px
		&_xl
			font-size: 1px
			line-height: 1px
		&_xxl
			font-size: 1px
			line-height: 1px

