color--green = #93b942
color--red = #ff3929
color--blue = #5a98d9
color--yellow = #f9df13
color--purple = #7b63b4
color--black-purple = #2a195f
color--white = #fff

f-size--default = 14px

shadow--button = 0 4px 0 0 rgba(230, 230, 230, 0.75)
