extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	+button({
		mods: {size: 's', theme: 'red'},
		content: 'Заказать звонок'
	})
	+button({
		mods: {size: 'm', theme: 'red'},
		content: 'Заказать звонок'
	})
	+button({
		mods: {size: 'l', theme: 'red'},
		content: 'Заказать звонок'
	})
	br
	br
	+button({
		mods: {size: 'm', theme: 'red'},
		content: 'Заказать звонок'
	})
	+button({
		mods: {size: 'm', theme: 'green'},
		content: 'Заказать звонок'
	})
	+button({
		mods: {size: 'm', theme: 'purple'},
		content: 'Заказать звонок'
	})
	br
	br
	+button({
		mods: {size: 'm', theme: 'br-red'},
		content: 'Заказать звонок'
	})
	+button({
		mods: {size: 'm', theme: 'br-green'},
		content: 'Заказать звонок'
	})
	+button({
		mods: {size: 'm', theme: 'br-purple'},
		content: 'Заказать звонок'
	})
