.lables
	display block
	&__text
		font-size 10px
	line-height 1.2
	text-align center
	color while
	text-transform uppercase
	&__icon
		display block
	&_size
		&_xs
			width 81px
			height 81px
		&_s
			width 43px
			height 43px
		&_m
			width 81px
			height 81px
		&_l
			width 81px
			height 81px
	&_theme
		&_green
			background green
		&_red
			background red
		&_blue
			background blue
		&_yellow
			background yellow
		&_purple
			background purple
	&_form
		&_circle
			border-radius 50%
