.logo
	display block
	position: relative
	max-width 100%
	&_size
		&_m
			width 277px
			height 143px
	.image
		position relative
		width 100%
		z-index 2

	&_type_main
		.image
			padding-left 23px
		&:before
			content ''
			display block
			position: absolute
			top -10px
			right: -32px
			width 144px
			height 70px
			background color--green
			z-index 1
