mixin logo(logoId)
	-
		var imageSrc = '';
		var imageClass = '';
		if(logoId === 1){
			imageSrc = 	'images/logo-mir.png';
			imageClass = 'logo_type_main';
		} else if(logoId === 2) {
			imageSrc = 	'images/logo.png';
			attributes.href = '/';
		}
		attributes.class = imageClass;
	if(logoId === 1)
		+b.SPAN.logo&attributes(attributes)
			img.image(src= imageSrc)
	else
		+b.A.logo&attributes(attributes)
			img.image(src= imageSrc)
