.social
	display block
	&_type
		&_main
			position absolute
			left 6.1%
			bottom 0
		&_main
			z-index 10			
	&__resource
		position relative		
		display inline-block
		width 17px
		height 17px
		&_vkontakte
			background-image url('/icons/social/vk.png')
		&_facebook
			background-image url('/icons/social/fb.png')
		&_instagram
			background-image url('/icons/social/inst.png')
	&__resource
		background-repeat no-repeat				
		background-position 50% 50%
	&__resource
		margin-bottom 30px
		display block
