mixin scripts(scripts)
	each src in scripts
		-
			var isExternalScript = /^(?:https?\:)?\/\//i;
			if(src === 'app.min.js') {
				src = isExternalScript.test(src) ? src : '/assets/scripts/' + src;
			} else {
				src = isExternalScript.test(src) ? src : '/scripts/' + src;
			}
		script(src=src)
