mixin header()
	+b.header&attributes(attributes)
		+e.logo
			+logo()
		+e.top-menu
			+top-menu()
		+e.contacts
			+e.phone
			+e.callback
				+button({
					mods:{
						size: 's',
						theme: 'red'
					},
					content: 'Заказать звонок'
				})
