.header
	display flex
	justify-content space-between
	padding 10px 55px 6px
	font-family 'Robot Condensed', Arial, Helvetica, sans-serif
	border-bottom 2px solid #e6e6e6
	.logo img
		width auto
		max-height 90px
	&__top-menu
		display flex
		flex-direction column
		justify-content center
		padding-left 30px
	&__contacts
		display flex
		justify-content space-between
		align-items  center
	&__phone
		margin-right 43px;
		font-size 15px;
		font-weight 700;
		font-family 'Roboto Condensed', Arial, Helvetica, sans-serif
	@media (max-width 1280px)
		padding 10px 15px 8px
		&__top-menu
			padding-left 15px
		.logo img
			max-height 60px
		&__phone
			margin-right 15px;
