mixin header(headerType)
	+b.header&attributes(attributes)
		+e.logo
			if(headerType === 'main')
				+logo(1)
			else
				+logo(2)
		+e.top-menu
			+top-menu()
		+e.contacts
			+e.A.phone(href='+78888888888') 8 888 888 88 88
			+e.callback
				+button({
					mods:{
						size: 's',
						theme: 'red'
					},
					content: 'Заказать звонок'
				})
