.description
	margin-top 33px
	margin-bottom 31px
	.title.title_size_18
		text-transform uppercase
		padding-top 62px
		padding-bottom 21px
	.price
		font-size 20px
		font-weight bold
		color #2a195f
	&__price
		margin-top 18px
		
	&__item
		display flex
		flex-wrap wrap
		align-items center
		justify-content space-between
	&__content
		font-size 20px
		font-weight bold				
		color rgb(42, 25, 95)
	&__content
		margin-top 11px
	&__name
		width 100%
	&_flex
		&_true
			display flex
			align-items flex-end
			flex-wrap wrap
			.description__item
				 margin-right 59px