.description
	margin-top 33px
	margin-bottom 31px
	&__content
		font-size 20px
		font-weight bold				
		color rgb(42, 25, 95)
	&__content
		margin-top 11px
	&_flex
		&_true
			display flex
			align-items flex-end	
			.description__item
				 margin-right 59px