mixin footer()
	+b.footer&attributes(attributes)
		+b.container._iner_true._flex_true
			.footer__text Все права на публикуемые на сайте материалы принадлежат ООО “МИР”. Любая информация, представленная на этом сайте, носит  исключительно информационный характер и ни при каких условиях  не является публичной офертой, определяемой положениями статьи 437 ГК РФ
			.footer__copyright © СК МИР, 2018
