.footline
	display block
	width 100%
	margin-top: -46px;
	margin-bottom: 40px
	& > .link
		margin-bottom: 44px;
	&__buttons
		display flex
		justify-content start
		align-items center
	.button
		margin-right: 22px
