.icon
	display inline-block
	min-width 1em
	text-align center
	vertical-align middle
	background-repeat no-repeat
	&_type
		&_home
			background-image url(/icons/home.png)
		&_coffe
			background-image url(/icons/coffe.png)
		&_flag
			background-image url(/icons/flag.png)
		&_mon
			background-image url(/icons/mon.png)
